<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--suite name="My Suite" verbose="2"  parallel="tests" thread-count="10">
    <test name="Some Workflow Tests" parallel="none" preserve-order="true"-->
<suite name="My Suite" verbose="2">
    <listeners>
        <listener class-name="reports.CustomisedListener"></listener>
        <listener class-name="reports.CustomisedReports" />
    </listeners>
    <test name="Some Workflow Tests" parallel="none" preserve-order="true">
        <classes>
			<class name="cityu.Test22Test"/>
			<class name="cityu.Test11Test"/>
        </classes>
    </test>
</suite>